---
import "@/globals.css";

export type Props = {
  title: string;
  location?: { label: string; href?: string }[];
};

const { title, location } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content="Jo Gramnæs Tjernshaugen" />
    <meta name="author" content="Jo Gramnæs Tjernshaugen" />
    <meta name="keywords" content="Jo Gramnæs Tjernshaugen, blog, portfolio" />
    <meta name="robots" content="index, follow" />
  </head>
  <body
    class="max-w-prose md:mx-auto my-4 flex flex-col gap-4 bg-white md:bg-slate-100 w-full min-h-screen"
  >
    <div
      class="md:text-base prose text-lg md:shadow md:bg-white md:border border-slate-300 md:p-8 p-6"
    >
      <nav>
        {
          location?.map(({ href, label }, index) => (
            <>
              {index !== 0 && <span class="text-slate-600 mx-2">/</span>}
              {href ? <a href={href}>{label}</a> : <span>{label}</span>}
            </>
          ))
        }
      </nav>

      <main>
        <slot name="main" />
      </main>
    </div>

    <slot />
  </body>
</html>
